html {
  background-color: #1f1f24 !important;
}

#app {

  background-image: url("/src/assets/background.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: transparent;

  color: white;
}

html {
    background-image: url("/src/assets/background.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: transparent;
}
/* 
.content {
    margin-top: 80px;
} */